# Node.js
node_modules/

# Logs
logs/
*.log

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Testing
coverage/
.nyc_output/

# Miscellaneous
.DS_Store
Thumbs.db